.desktop-menu {
  display: flex;
}

.mobile-menu-button {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  
  .mobile-menu-button {
    display: block;
  }
}
